.header-container {
  background-color: #414770;
  padding: 1em;
  text-align: center;
  color: #fff;
}

.header-title h1 {
  margin: 0;
  font-size: 3rem;
}

.header-nav {
  margin: 2rem 0;
}

.header-link {
  padding: 1em 2em;
  background-color: #e7ecef;
  color: #000;
}

.header-link-active {
  background-color: #f0cf65;
}
