.room-btn {
  background-color: #c5cae9;
  text-decoration: underline;
  transition: background-color 0.3s ease-in;
}

.room-btn:hover {
  background-color: #7986cb;
}

.occupied-cell {
  background-color: #ef5350;
}

.available-cell {
  background-color: #66bb6a;
}
