@import url("https://fonts.googleapis.com/css?family=Arvo|Noto+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccdad1;
}

h1,
h2 {
  font-family: "Arvo", Arial, Helvetica, sans-serif;
}

p,
a,
li,
th,
td {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Table styles */

table {
  margin: 2rem auto;
  background-color: #5b85aa;
  border-collapse: collapse;
  box-shadow: 0 0 10px 0 #757575;
}

th,
td {
  padding: 1em;
  text-align: center;
}

th {
  background-color: #414770;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

tr:nth-child(odd) {
  background-color: #fafafa;
}

.table-details-btn {
  background-color: #c5cae9;
  text-decoration: underline;
  transition: background-color 0.3s ease-in;
}

.table-details-btn:hover {
  background-color: #7986cb;
}

/* btn styles */

.link-btn {
  text-decoration: underline;
  transition: color 0.3s ease-out;
}

.link-btn:hover {
  color: #414770;
}
